nav{
    display: flex;
    height: 100px;
    background: #fff;
}
#nav-menu,#login{
    flex-grow: 5;
    margin: 0 15px;
}
#nav-menu{
    position: relative;
}
#nav-menu img{
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}
#nav-menu span{
    position: absolute;
    left: 22px;
    top: 60px;
    font-size: 12px;
    cursor: pointer;
}
#nav-logo{
    flex-grow: 2;
    position: relative;
}
#nav-logo img{
    width: 73px;
    height: 73px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
}
#login .club{
    position: absolute;
    right: 20px;
    line-height: 80px;
}
#login .load{
    position: absolute;
    right: 20px;
    line-height: 120px;
}
#login a{
    color: #b89f7a;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
/*菜单*/
#wrapper{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(112,112,112,0.5);
    display: none;

}
#nav-next-menu{
    /*width: 270px;*/
    width: 0;
    height: 100%;
    background: rgb(0,0,0);
    position:absolute ;
    left: 0;
    top: 0;
    overflow: scroll;

}
.nav-client{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112,112,112,.5);
}
.nav-menu-list{
    padding-top: 10px;
}
.nav-client a{
    width: 223px;
    height: 27px;
    color: #b89f7a;
    display: block;
    margin: 20px 15px;
}
.nav-menu-list a{
    width: 223px;
    height: 27px;
    color: #fff;
    display: block;
    margin: 20px 15px;
    position: relative;
}
.show-after{
    width: 0;
    height: 0;
    border-top: 4px dashed ;
    border-left: 4px solid transparent;
    border-right:4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: 0;
    display: block;
}
.nav-client a:hover{
    color:#fff ;
}
.nav-menu-list a:hover{
    color: #b89f7a;
}
/*banner*/

#banner .pc,#banner .mobile{

    cursor: pointer;
}
#banner .mobile{
    display: none;
    position: relative;
    min-width: 340px;
}
#banner .pc{
    width:100%;
    display: block;
}
#banner .ads{
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    padding: 0 5px;
    position: absolute;
    right: 32px;
    top: 120px;
    font-size: 12px;
}
.know {
    display: block;
    position: absolute;
    right: 25px;
    bottom:16rem;
    top: auto;
}
.know a{
    /*display: block;*/
    font-size: 18px;
    color:#fff;
    text-align: center;

}

/*star rewards*/
article{
    background: #000000;
    height: 220px;
    width: 100%;

    position: relative;
}
article .wrap{
    width: 780px;
    margin: 0 auto;
    /*background: #000000;*/
}

article .rewords {
    height: 220px;
    /*background: url(img/rewards_bg.png) 20rem rem no-repeat;*/
    width: 260px;
    padding-left:110px ;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
}
article .rewords img{
    width: 160px;
}
article .context {
    height: 220px;
    width: 430px;
    box-sizing: border-box;
    float: right;
    padding-top: 40px;
    /*display: inline-block;*/
    /*position: absolute;*/
}
article .context span:first-child{
    font-size: 25px;
}
article .context a:nth-of-type(1),article .context a:nth-of-type(2){
    background: transparent;
    padding: 14px 40px;
    border: 2px solid #a98e67;
    margin: 14px 14px 14px 0;
}
article .context a:nth-of-type(3){
    width: 116px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 14px 14px 14px 16px;
}
article .context a{
    cursor: pointer;
    color: #a98e67;
    display: block;
    float: left;
}
article span{
    display: block;
    color: #fff;
}

@media(max-width: 992px){
    #banner .pc{
        display: none;
    }
    #banner .mobile{
        display: block;
        width: 100%;
    }

}
@media(max-width: 767px){
    article{
        width: 100%;
        height: 490px;
    }
    article.wrap{
        width: 100%;
        height: 490px;
    }
    article .rewords,article .context{
       /* width: 100%;*/
    }
    article .rewords{
        width:550px ;
        padding: 0;
    }
    article .rewords span{
        text-align: center;
    }

}



